{% extends "layout.html" %}
{% block body %}
    {% raw %}
    <div class="inner cover" id="app">
      <h1 class="cover-heading">Request a cab</h1>
			<form v-on:submit.prevent="loadResults">
				<div class="input-group">
				  <input type="text" class="form-control form-control-sm" placeholder="From ?" id="from">
				</div>
				
				<div class="input-group">
				  <input type="text" class="form-control form-control-sm" placeholder="To ?" id="to">
				</div>
				<button type="submit" class="btn btn-block btn-success">Search !</button>
			</form>

			<div id="results" class="row">
				<div v-for="r in results" class="cab col-sm-3">
					<div class="cab-inner">
						<div class="cab-type">{{r.type}}</div>
						<div class="cab-distance">{{r.distance}}</div>
						<div class="cab-price">{{r.price}}</div>
					</div>
				</div>
			</div>

			<div id="map"></div>
    </div>
    {% endraw %}
{% endblock %}

{% block scripts %}
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBGLst2_5aTRSKZRw0RglUN0dX_Qtao60&signed_in=true&libraries=places&callback=initMap"
        async defer></script>
  </body>
{% endblock %}
