{% extends "layout.html" %} 
{% block body %} 

<div class="container">
	<h2>Bonjour {{profile.first_name}}</h2>
	<div class="row justify-content-center">
		<div class="col-sm-6" id="app">
			{% raw %}
			<form v-on:submit.prevent="loadResults" id="search-form">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="From ?" id="from">
				</div>
		
				<div class="input-group">
					<input type="text" class="form-control" placeholder="To ?" id="to">
				</div>
			</form>
		
			<div id="results" class="row">
				<div class="loader" v-show="loading">
					<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
				</div>
				<div v-for="r in results" class="cab col-4">
					<div class="cab-inner">
						<div class="cab-picture" v-bind:style="{ backgroundImage: 'url(' + r.image + ')' }"></div>
						<div class="cab-type">{{r.display_name}}</div>
						<div class="cab-distance">{{r.distance}} km</div>
						<div class="cab-price">{{r.estimate}}</div>
						<div class="cab-duration">{{r.duration / 60}} mn</div>
						<div class="cab-pickuptime" v-show="r.estimate_pickuptime">{{r.estimate_pickuptime / 60}} mn</div>
					</div>
				</div>
			</div>
			{% endraw %} 
		
			<div id="map"></div>
		</div>
	</div>
</div>
{% endblock %} 

{% block scripts %}
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>

<script src="{{ url_for('static', filename='scripts/search.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBGLst2_5aTRSKZRw0RglUN0dX_Qtao60&signed_in=true&libraries=places&callback=initMap" async defer></script>
</body>
{% endblock %}
